---
import Layout from '../layouts/Layout.astro';
import onichanTopImagePc from '../assets/img/onichan_top_pc.png';
import onichanTopImageSp from '../assets/img/onichan_top_sp.png';
import titleWhite from '../assets/img/title_white.png';
import onichanProfile from '../assets/img/onichan_profile.jpg';
import speaker from '../assets/img/speaker.jpeg';
import community from '../assets/img/community.jpeg';
import session from '../assets/img/session.jpeg';
import englishEducation from '../assets/img/english_education.jpeg';
import tour from '../assets/img/tour.jpeg';
import other from '../assets/img/other.jpg';
import communityTitle from '../assets/img/community_title.png';
import englishEducationTitle from '../assets/img/english_education_title.png';
import otherTitle from '../assets/img/other_title.png';
import sessionTitle from '../assets/img/session_title.png';
import speakerTitle from '../assets/img/speaker_title.png';
import tourTitle from '../assets/img/tour_title.png';

---

<Layout>
    <div class="w-full font-serif bg-black">
        <div class="bg-black">
            <div class="md:hidden">
                <div class="w-full ">
                    <img src={onichanTopImageSp.src}/>
                </div>
                <div class="px-4 mt-8 animate__animated animate__fadeIn animate__slow">
                    <img src={titleWhite.src}/>
                </div>
            </div>

            <div class="hidden md:block h-screen">
                <div class="w-full  bg-black absolute z-0">
                    <img src={onichanTopImagePc.src}/>
                </div>
                <div class="absolute w-1/2 z-10 px-35 pt-45 animate__animated animate__fadeIn animate__slow">
                    <img src={titleWhite.src}/>
                </div>
            </div>

            <div class="p-4 md:p-10">
                <h1 id="main_message_title" class="text-white w-full text-center text-2xl opacity-0 animate__animated animate__slow md:text-5xl">唯一無二の、自分を極めろ</h1>
                <div class="mt-8">
                    <p id="main_message1" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">「人生は一度きり」この言葉を聞いたことのある人は多いだろう。</p>
                    <p id="main_message2" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">しかし、本当の意味で、それを理解し、行動できている人間がどれだけいるだろう。</p>
                    <p id="main_message3" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">モノと情報に溢れるイマの社会。</p>
                    <p id="main_message4" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">そんな中で、どうしても周りに流され、自分の声を聞けず、生きている人間が多いのではないだろうか。</p>
                    <p id="main_message5" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">しかし、あなたはあなたです。</p>
                    <p id="main_message6" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">誰と比べようが、</p>
                    <p id="main_message7" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">どれだけ頑張っても、他の”誰か”にはなれない。</p>
                    <p id="main_message8" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">どんなに頑張っても、”あなた”になれる人間は、この世のどこを探しても、どこにもいないのです。</p>
                    <p id="main_message9" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">81億人</p>
                    <p id="main_message10" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">あなたは、生まれた時から、いや、生まれる前から、唯一無二の存在なのです。</p>
                    <p id="main_message11" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">あなたがこの世界に、イマのこの時代に、生まれてきた”意味”は何なのだろう。</p>
                    <p id="main_message12" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">その答えはすぐに見つからないかもしれない。</p>
                    <p id="main_message13" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">でも、”それ”を探し続けることこそが、人生なのではないだろうか。</p>
                    <p id="main_message14" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">そして、”それ”を見つけた時、次の、新しい世界が目の前に広がり、本当の意味での人生＝魂のjourneyが始まるのだ。</p>
                    <p id="main_message15" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">魂を磨き、鍛え、DNAに刻み、次の世代へ繋ぐ。</p>
                    <p id="main_message16" class="text-white text-base w-full text-center mt-4 opacity-0 animate__animated animate__slow">それが、本当の意味での”進化”であり、”成長”なのではないだろうか。</p>
                </div>
            </div>
        </div>
        <div class="p-4 bg-white md:p-10">
            <h2 class="text-black text-lg font-semibold w-full text-center underline">最新情報</h2>
            <p class="text-black text-base w-full text-center mt-10">準備中です。</p>
            <div class="w-full text-center mt-10 ">
                <button class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition-colors duration-500">
                    <a href="./preparation">
                        さらにに詳しく
                    </a>
                </button>
            </div>
        </div>
        <div class="bg-black pt-4 pb-4 md:p-10">
            <h2 class=" text-white text-lg font-semibold w-full text-center underline">事業内容</h2>
            <!--====================*** SP ***=========================-->
            <div class="pt-4 md:hidden">
                <div id="carousel-example" class="relative w-full">
                    <!-- Carousel wrapper -->
                    <div class="relative h-56 overflow-hidden rounded-base sm:h-64 xl:h-80 2xl:h-96">
                        <!-- Item 1 -->
                        <div id="carousel-item-1" class="hidden duration-700 ease-in-out">
                            <a href="./preparation">
                                <img src={speakerTitle.src} class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2" alt="..."/>
                            </a>
                        </div>
                        <!-- Item 2 -->
                        <div id="carousel-item-2" class="hidden duration-700 ease-in-out">
                            <a href="./preparation">
                                <img src={communityTitle.src} class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2" alt="..."/>
                            </a>
                        </div>
                        <!-- Item 3 -->
                        <div id="carousel-item-3" class="hidden duration-700 ease-in-out">
                            <a href="./preparation">
                                <img src={sessionTitle.src} class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2" alt="..."/>
                            </a>
                        </div>
                        <!-- Item 4 -->
                        <div id="carousel-item-4" class="hidden duration-700 ease-in-out">
                            <a href="./preparation">
                                <img src={englishEducationTitle.src} class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2" alt="..." />
                            </a>
                        </div>
                        <!-- Item 5 -->
                        <div id="carousel-item-5" class="hidden duration-700 ease-in-out">
                            <a href="./preparation">
                                <img src={tourTitle.src} class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2" alt="..." />
                            </a>
                        </div>
                        <!-- Item 6 -->
                        <div id="carousel-item-6" class="hidden duration-700 ease-in-out">
                            <a href="./preparation">
                                <img src={otherTitle.src} class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2" alt="..."/>
                            </a>
                        </div>

                    </div>
                    <!-- Slider indicators -->
                    <div class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse">
                        <button id="carousel-indicator-1" type="button" class="h-3 w-3 rounded-base" aria-current="true" aria-label="Slide 1"></button>
                        <button id="carousel-indicator-2" type="button" class="h-3 w-3 rounded-base" aria-current="false" aria-label="Slide 2"></button>
                        <button id="carousel-indicator-3" type="button" class="h-3 w-3 rounded-base" aria-current="false" aria-label="Slide 3"></button>
                        <button id="carousel-indicator-4" type="button" class="h-3 w-3 rounded-base" aria-current="false" aria-label="Slide 4"></button>
                        <button id="carousel-indicator-5" type="button" class="h-3 w-3 rounded-base" aria-current="false" aria-label="Slide 5"></button>
                        <button id="carousel-indicator-6" type="button" class="h-3 w-3 rounded-base" aria-current="false" aria-label="Slide 6"></button>
                    </div>
                    <!-- Slider controls -->
                    <button id="data-carousel-prev" type="button" class="group absolute left-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none">
                        <span class="inline-flex h-10 w-10 items-center justify-center rounded-base bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70">
                            <svg class="h-4 w-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                            </svg>
                            <span class="hidden">Previous</span>
                        </span>
                    </button>
                    <button id="data-carousel-next" type="button" class="group absolute right-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none">
                        <span class="inline-flex h-10 w-10 items-center justify-center rounded-base bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70">
                            <svg class="h-4 w-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                            <span class="hidden">Next</span>
                        </span>
                    </button>
                </div>
            </div>
            <!--====================*** PC ***=========================-->
            <div class="hidden md:flex flex-row pt-10 ">
                <div class="w-1/2 text-white pl-20 pr-10">
                    <div class="w-full aspect-square">
                        <div class="flex-row h-1/6">
                            <a id="speaker_service" href="./preparation">
                                <div class="group w-full h-full bg-white">
                                    <div class="w-full h-full flex items-center justify-start group-hover:bg-red-600 transition-colors duration-500">
                                        <div class="font-mono font-black text-4xl pl-4 text-left text-red-600 group-hover:text-white transition-colors duration-500">
                                            SPEAKER
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="flex-row h-1/6">
                            <a id="community_service" href="./preparation">
                                <div class="group w-full h-full bg-white">
                                    <div class="w-full h-full flex items-center justify-start group-hover:bg-orange-600 transition-colors duration-500">
                                        <div class="font-mono font-black text-4xl pl-4 text-left text-orange-600 group-hover:text-white transition-colors duration-500">
                                            COMMUNITY
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="flex-row h-1/6">
                            <a id="session_service" href="./preparation">
                                <div class="group w-full h-full bg-white">
                                    <div class="w-full h-full flex items-center justify-start group-hover:bg-blue-600 transition-colors duration-500">
                                        <div class="font-mono font-black text-4xl pl-4 text-left text-blue-600 group-hover:text-white transition-colors duration-500">
                                            SESSION
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="flex-row h-1/6">
                            <a id="english_service" href="./preparation">
                                <div class="group w-full h-full bg-white">
                                    <div class="w-full h-full flex items-center justify-start group-hover:bg-green-600 transition-colors duration-500">
                                        <div class="font-mono font-black text-4xl pl-4 text-left text-green-600 group-hover:text-white transition-colors duration-500">
                                            ENGLISH EDCATION
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="flex-row h-1/6">
                            <a id="tour_service" href="./preparation">
                                <div class="group w-full h-full bg-white">
                                    <div class="w-full h-full flex items-center justify-start group-hover:bg-yellow-400 transition-colors duration-500">
                                        <div class="font-mono font-black text-4xl pl-4 text-left text-yellow-400 group-hover:text-white transition-colors duration-500">
                                            TOUR
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="flex-row h-1/6">
                            <a id="other_service" href="./preparation">
                                <div class="group w-full h-full bg-white">
                                    <div class="w-full h-full flex items-center justify-start group-hover:bg-violet-600 transition-colors duration-500">
                                        <div class="font-mono font-black text-4xl pl-4 text-left text-violet-600 group-hover:text-white transition-colors duration-500">
                                            OTHER
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-1/2 text-white pr-20 pl-10">
                    <div class="w-full aspect-square">
                        <img id="service_img" class="w-full h-full object-cover animate__animated" src={speaker.src} alt="">
                        <span id="service_img_src1" class="hidden">{speaker.src} </span>
                        <span id="service_img_src2" class="hidden">{community.src} </span>
                        <span id="service_img_src3" class="hidden">{session.src} </span>
                        <span id="service_img_src4" class="hidden">{englishEducation.src} </span>
                        <span id="service_img_src5" class="hidden">{tour.src} </span>
                        <span id="service_img_src6" class="hidden">{other.src} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white pt-4 pb-4 md:p-10">
            <h2 class="text-black text-lg font-semibold w-full text-center underline">自己紹介</h2>
            <div class="md:flex md:mt-10">
                <div class="md:w-1/6"></div>
                <div id="profile_img" class="px-4 w-full md:w-1/3 opacity-0 animate__animated animate__slow">
                    <img src={onichanProfile.src} alt="">
                </div>
                <div id="profile_string" class="px-4 md:w-1/3 opacity-0 animate__animated animate__slow">
                    <h2 class="text-black w-full text-center text-xl font-semibold">鬼城雄大 / YUDAI ONIKI</h2>
                    <p class="text-black w-full text-left mt-4 text-sm">1990年7月6日、山口県萩市出身</p>
                    <p class="text-black w-full text-left mt-4">
                        中学教員、オーストラリア滞在や英語コンサルティング会社経て独立。「人の可能性を引き出す」使命を胸に教育を軸とした「おにちゃん会」を主宰している。現在では全国で150回以上の開催を重ねている。
                    </p>
                    <p class="text-black w-full text-left mt-4 text-sm">
                        <a href="https://www.instagram.com/onichan.innervoice/">INSTAGRAM</a> | <a href="">NOTE</a>
                    </p>
                    <div class="w-full text-center mt-4">
                        <button class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition-colors duration-500">
                            <a href="./preparation">
                                さらにに詳しく
                            </a>
                        </button>
                    </div>
                </div>
                <div class="md:w-1/6"></div>
            </div>
        </div>
        <div class="bg-black p-4 md:p-10">
            <h2 class="text-white text-lg font-semibold w-full text-center underline">問い合わせ</h2>
            <p class="text-white w-full text-center mt-10">
                お仕事のご依頼やご相談はこちらからお気軽にお問い合わせください。<br/>一緒に面白いことをしましょう。
            </p>
            <div class="w-full text-center mt-10">
                <button class="bg-white hover:bg-blue-700 text-black font-bold py-2 px-4 rounded-full transition-colors duration-500">
                    <a href="./preparation">
                        問い合わせ
                    </a>
                </button>
            </div>
        </div>
    </div>
    <script>
        import '../scripts/index-script.js';
        import '../scripts/loading-script.js';
        import '../scripts/carousel.js';
    </script>
</Layout>